# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Project-specific
downloads/
contents/
static/
frames/
*cache/
*.csv

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store 

*.db